#id{
    padding-left: 100;
    padding-right: 50;
}
#id2{
    padding-right: 100;
}
#id3{
    padding-right: 100;
}

#id5{
    padding-left: 55;
}
#id6{
    padding-left: 40;
}

#id7{
    padding-left: 40;
}

#id8{
    padding-left: 90;
}

#h1{
   padding-left: 500;
    padding-top: 10
}

#h2{
   padding-left: 550 
}

#h3{
    padding-left: 600 
}

#h11{
    padding-left:550
}
#id9{
    padding-top: 30;
    padding-left: 260;
}

#id0{
    margin-bottom: 45;
    margin-left: 50px;
}

