#h1{
    margin-left: 560;
    margin-bottom: 40;
}

#h2{
    padding-left: 150
}

#h3{
    padding-left: 60;
}
#h4{
    padding-left: 60;
}
#h5{
    padding-left: 60;
}
#h6{
    padding-left: 60;
}
#h7{
    padding-left: 60;
}