#id1{
    margin-left: 490;
    margin-bottom: 50;
    padding-top: 30;
}
#id2{
    padding-left: 250;
}
#id3{
    padding-left: 50;
}
#id4{
    padding-left: 50;
}
#id5{
    padding-left: 100;
}

#id6{
    padding-left: 100;
}
#id99{
    padding-left: 85;
}

#id10{
    padding-left: 60;
}
#id11{
    padding-left: 60;
}