#id0{
   margin-left: 60;
   margin-bottom: 40;
}
#h1{
    padding-left: 300;
}
#h2{
    padding-left: 100;
}
#h3{
    padding-left: 50;
}
#h4{
    padding-left: 190;
}
#id10{
    padding-left: 120;
}

#hh2{
    margin-left: 2%;
    padding-bottom: 33;
}