#id0{
    margin-left: 50px;
    margin-bottom: 100;
}
#id{
    padding-left: 400;
    padding-right: 50;
}
#id2{
    padding-right: 100;
}
#id3{
    padding-right: 100;
}
#id4{
    padding-left: 50;
}
#id5{
    padding-left: 2;
}

#h1{
   padding-left: 460;
    padding-top: 10
}

#h2{
   padding-left: 550 
}

#h3{
    padding-left: 600 
}

#h11{
    padding-left:550
}
#id9{
    padding-top: 30;
    padding-left: 260;
    padding-right: 300;
}
#ok2{
    margin-top: 33;
}
#ok1{
   margin-bottom: 33;
}
